.card {
  width: 80%;
  border: 1px black groove;
  border-radius: 5px;
  /* height: 400px; */
}
.container {
  margin-left: 7%;
  margin-right: 7%;
}
.cardImage {
  width: 100%;
  height: 250px;
}
.details {
  vertical-align: middle;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}
.cardTitle {
  font-size: 20px;
  width: 10%;
  display: inline-block;
  /* align-items: flex-start; */
}
.favIcon {
  vertical-align: middle;
}
.list {
  height: 400px;
}
.adImage {
  height: 250px;
}
